/* Start Global Variables */
:root {
    --main-color: rgb(9, 201, 9);
    --secondary-color: #7f0505;
    --main-padding: 100px;
    --main-duration: 0.3s;
    --grey-color: #f6f6ff;
}
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 97px;
    position: relative;
}
header .container::after {
    content: "";
    height: 1px;
    /* Is #a2a2a2 better or not  ????????????????? */
    background-color: #7f0505;
    position: absolute;
    left: 15px;
    width: calc(100% - 30px);
    bottom: 0;
}
header .container .logo img {
    height: 80px;
    /* Is 20px enough ???? */
    border-radius: 40px;
}
header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav ul {
    display: flex;
    margin: 0;
}
header nav ul li a {
    background-color: transparent;
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}
header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
/* start landing */
.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url("../images/IMG-20210531-WA0076.jpg");
    background-size: cover;
    position: relative;
}
/* end landing */
/* start table */
.table {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.table .container {
    position: relative;
}
.table .container h2 {
    text-align: center;
    padding-bottom: 30px;
    text-shadow: 2px 2px #1f2021;
    color: rgb(11, 87, 158);
}
.table .container p {
    width: 100%;
    padding: 20px;
    line-height: 1.8;
    border: 2px solid green;
}
.table table {
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 50px;
}
table td {
    padding: 20px 15px;
    text-align: center;
    font-size: 15px;
    /* background-color: var(--main-color); */
    color: black;
    border-right: 3px solid var(--main-color);
    border-radius: 8px;
    background-color: #5ccae7;
    color: black;
    font-weight: bold;
}
table .special {
    background-color: rgb(36 163 198);    
}
/* end table */
/* Start about */
.about {
    padding-top: 250px;
    padding-bottom: var(--main-padding);
}
.about .container h2 {
    text-align: center;

}
.about .container {
    display: flex;
    justify-content: space-between;
}
.about .container .about-text {
    width: 37.5%;
    align-self: center;
    padding: 20px;
    border: 2px solid green;
    box-shadow: 2px 2px 10px 1px green;
}
.about .container .about-text p {
    line-height: 1.5;
}
.about .container .about-image {
    width: 57.5%;
    align-self: center;
}
/* End about */
/*start photos*/
.photos {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.photos .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.photos .imgs-container .box {
    overflow: hidden;
    position: relative;
}
.photos .imgs-container .box:hover .caption {
    bottom: 0;
}
/* .photos .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
    .sports .imgs-container .box {
      flex-basis: 50%;
    }
}
  @media (min-width: 1199px) {
    .sports .imgs-container .box {
      flex-basis: 25%;
    }
} */
.photos .imgs-container .box img {
    max-width: 100%;
    transition: 0.3s;
}
.photos .imgs-container .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    /* Is secondary-color better or not ??????? */
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
}
/* .photos .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
} */
@media (min-width: 768px) {
    .photos .imgs-container .box {
      /* flex-basis: 50%; */
      flex-basis: 100%;
    }
}
  @media (min-width: 1199px) {
    .photos .imgs-container .box {
      /* flex-basis: 25%; */
      flex-basis: 50%;
    }
}
.photos .imgs-container .box .caption h4 {
    font-weight: bolder;
    margin-bottom: 15px;
    /* Is white better ?????? */
    color: var(--secondary-color);
    letter-spacing: 1px;
}
/* End Sports */







/*.photos {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.photos .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.photos .imgs-container .box {
    overflow: hidden;
    position: relative;
}
.photos .imgs-container .box:hover .caption {
    bottom: 0;
}
/* .sports .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
} */
/* @media (min-width: 768px) {
    .sports .imgs-container .box {
      flex-basis: 50%;
    }
}
  @media (min-width: 1199px) {
    .sports .imgs-container .box {
      flex-basis: 25%;
    }
} 
.photos .imgs-container .box img {
    max-width: 100%;
    transition: 0.3s;
}
.photos .imgs-container .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    /* Is secondary-color better or not ??????? */
   /* background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
}
.photos .imgs-container .box .caption h4 {
    font-weight: bolder;
    margin-bottom: 15px;
    /* Is white better ?????? */
   /* color: var(--secondary-color);
    letter-spacing: 1px;
}*/
/* End photos */
/*start video*/
.vedio {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.vedio .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vedio .container .para {
    width: 33.5%;
}
.vedio .container .para p {
    padding: 20px;
    line-height: 1.8;
    font-size: 20px;
    border: 1px solid green;
}
.vedio .container .vedio-container {
    width: 61.5%;
}
.vedio .container .vedio-container video {
    width: 600px;
    height: 90%;
    box-shadow: 1px 1px 5px 0 black, -1px -1px 5px 0 black;
}
/* End Global Rules */
/* Start Footer */
.footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-color: var(--secondary-color);
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}
.footer .container {
    position: relative;
}

.footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
    margin-top: 0;
    color: var(--main-color);
    font-weight: bolder;
}
.footer .social-icons i {
    padding: 10px 15px;
}
.footer .copyright {
    padding-bottom: 40px;
    padding-top: 20px;
}
.footer .copyright span {
    font-weight: bold;
    color: var(--main-color);
}
.footer .container .social-icons a {
    color: white;
}
/* End Footer */









    