/* Start Global Variables */
:root {
    --main-color: rgb(9, 201, 9);
    --secondary-color: #7f0505;
    --main-padding: 100px;
    --main-duration: 0.3s;
    --grey-color: #f6f6ff;
}
/* End global Variables */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to right, brown, green);
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

.header {
    /* background: linear-gradient(to right,var(--secondary-color), var(--main-color)); */
    background: var(--secondary-color);
    padding-top: 9px;
    padding-bottom: 10px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
/* .header .container::after {
    content: "";
    height: 2px; */

    /* Is #a2a2a2 better or not  ????????????????? */

    /* background: linear-gradient(to right, var(--main-color), var(--secondary-color));
    position: absolute;
    left: 15px;
    width: calc(100% - 30px);
    bottom: 0px;
} */
.header .logo {
    height: 60px;
    /* Is 20px enough ???? */
    border-radius: 40px;
}
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: var(--main-color);
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}
.header .links .icon span:last-child {
    width: 100%;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    background-color: white;
    position: absolute;
    right: 0;
    min-width: 230px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
    border-radius: 10px;
    box-shadow: -1px 1px 6px 0px var(--secondary-color);
}
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 5px;
    top: -19px;
}
/* .header .links:hover ul {
    display: block;
} */
.js-btn {
    background: var(--secondary-color);
    border: none;
    outline: none;
}
.header .links ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: var(--secondary-color);
    transition: var(--main-duration);
}
.header .links ul li a:hover {
    padding-left: 30px;
    color: var(--main-color);
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid black;
    /* Is it nice without border radius */
    border-radius: 10px;
}
/* End Header */
/* Start Form Section */
.form {
    margin-top: 60px;
    display: grid;
}
.col-md-10 .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reg-left {
    /* text-align: center; */
    color: white;
    padding: 2%;
    width: 37.5%;
}
.reg-left h4 {
    font-size: 22px;
    padding-bottom: 5px;
    font-weight: bolder;
}
.reg-left .btn-primary {
    border-radius: 25px;
    border: none;
    width: 120px;
    background: var(--main-color);
    color: black;
    margin-top: 20px;
    padding: 10px;
}
.reg-left .btn-primary:hover {
    color: green;
    background-color: white;
    box-shadow: 1px 1px 8px 1px var(--main-color), -1px -1px 8px 1px var(--main-color);
}
.reg-right {
    width: 57.5%;
    border: none;
    background: white;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 20%;
}
.reg-right h2 {
    text-align: center;
    color: var(--secondary-color);
}
.reg-form {
    padding: 30px;
}
.reg-right .btn-primary {
    border-radius: 25px;
    border: none;
    width: 120px;
    background: var(--main-color);
    color: black;
    margin-top: 2%;
    padding: 2%;
    float: right;
}
.reg-right .btn-primary:hover {
    color: green;
    background-color: white;
    box-shadow: 1px 1px 8px 1px var(--main-color), -1px -1px 8px 1px var(--main-color);
}
.form-group {
    width: 100%;
    overflow: hidden;
    /* font-size: 10px; */
    margin: 15px 0;
    /* border-bottom: 1px solid var(--secondary-color); */
    background: white;
    /* border: 1px solid brown; */
    border-radius: 20px;
    box-shadow: 1px 1px 5px 0px var(--main-color), -1px -1px 5px 0px var(--main-color);
}
.form-group i {
    width: 10%;
    font-size: 20px;
    float: left;
    color: var(--secondary-color);
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
}
.form-group input {
    border: none;
    outline: none;
    background: none;
    width: 80%;
    float: left;
    margin: 0 10px;
    padding-bottom: 12px;
    margin-top: 12px;
    font-size: 12px;
}
.form-group input:focus {
    box-shadow: none;
    background: none;
}
/* End Form Section */
/* Start Footer */
.footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-color: var(--secondary-color);
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
    margin-top: 200px;
    z-index: -1;
}
.footer .container {
    position: relative;
}

.footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
    margin-top: 0;
    color: var(--main-color);
    font-weight: bolder;
}
.footer .social-icons i {
    padding: 10px 15px;
}
.footer .copyright {
    padding-bottom: 40px;
    padding-top: 20px;
}
.footer .copyright span {
    font-weight: bold;
    color: var(--main-color);
}
.footer .container .social-icons a {
    color: white;
}
/* End Footer */
/* Start Java Script */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
.sticky + .all-content {
    padding-top: 102px;
}
/* End Java Script */